<div class='container'>
  <% results.forEach(result => { %>
    <div class='book'>
      <img src='<%= result.image_link %>'>
      <a href='/books/<%= result.id %>'><h3><%= result.title %></h2></a>
      <h4><%= result.author %></h3>
      <form id='addBook' method="POST" action='/add'>
        <input type='text' name='id' value='<%= result.id %>'>
        <input type='submit' name='addBook' class='submit' value = 'Add To Shelf'>
      </form>
    </div>
  <% }) %>
</div> 