<div class='container'>
  <% results.forEach(result => { %>
    <div class='book'>
      <img src='<%= result.image_link %>'>
      <a href='/books/<%= result.id %>'><h3><%= result.title %></h2></a>
      <h4><%= result.author %></h3>
      <form id='getUpdateBook' method='POST' action='/update'>
        <input type='text' name='id' value='<%= result.id %>'>
        <input type='submit' name='getUpdateBook' class='submit' value = 'Update Details'>
      </form>
      <form id='deleteBook' method='POST' action='/delete'>
        <input type='text' name='id' value='<%= result.id %>'>
        <input type='submit' name='deleteBook' class='submit' value = 'Delete From Library'>
      </form>
    </div>
  <% }) %>
</div> 